// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil');
$typography-font-family: 'Stardos Stencil', sans-serif !default;

$primary: #383a3a;
$secondary: #a7d6d1;
$accent: #c2cc66;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #50a664;
$negative: #a33945;
$info: #6ea9b5;
$warning: #ba9d4c;
